<div class="sidebar-block tags">
{% for tag in tags %}
    <a class="tag"
       href="{{ path('harentius_blog_list', {'filtrationType': 'tag', 'criteria': tag.slug}) }}"
       style="font-size: {{ tag.percentage }}%"
       rel="tag"
    >
        {{ tag.name }}
    </a>
{% endfor %}
</div>
