default:
    formatters:
        pretty:
            paths: false
    autoload:
        '': '%paths.base%/tests/features/bootstrap'
    suites:
        main:
            mink_session: selenium2
            paths:
                - '/tests/features/'
            contexts:
                - MinkContext
                - AuthContext
                - SonataListContext
                - CleanContext
                - BackUpContext:
                    rootDir: '%paths.base%/tests/app'

    extensions:
        Behat\MinkExtension:
            default_session: selenium2
            browser_name: chrome
            base_url: 'http://blog_app/app_test.php'
            selenium2:
                wd_host: 'http://selenium:4444/wd/hub'
                capabilities:
                    extra_capabilities:
                        chromeOptions:
                            args:
                                - "--window-size=1980,1080"
        Behat\Symfony2Extension:
            kernel:
                path: tests/app/AppKernel.php
