includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    tmpDir: var/phpstan
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children()#'
