{% extends 'HarentiusBlogBundle:Blog:_common_post_info.html.twig' %}

{% block after_post_info %}
<span>
    <i class="glyphicon glyphicon-thumbs-up"></i>
    {{ article.likesCount }}
</span>

<span>
    <i class="glyphicon glyphicon-thumbs-down"></i>
    {{ article.disLikesCount }}
</span>
{% endblock %}
