<div class="languages-wrapper float-right">
    {% set translations = translations_list(entity) %}
    {% set currentLocale = app.request.locale %}

    {% if translations|length > 1 %}
        {% for locale in translations %}
            {% if currentLocale == locale %}
                <span>{{ locale }}</span>
            {% else %}
                <a href="{{ publication_path(entity, locale) }}">{{ locale }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
