@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/utilities";
@import '~font-awesome/css/font-awesome.min.css';
@import "twbs-extension";

.clickable {
  cursor: pointer;
}

body {
  background: url('../img/images_frontend.png') repeat;
  word-wrap: break-word;
}

figure, img {
  &[style*="float:right"] {
    margin: 15px 0 15px 15px;
  }

  &[style*="float:left"] {
    margin: 15px 15px 15px 0;
  }
}

figcaption {
  text-align: center;
}

.navbar {
  margin-bottom: 0;
}

.display-none {
  display: none;
}

.container {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background-color: #ffffff;
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.25);
}

.padded-content {
  padding: 5px;
}

.paginator {
  margin: 0 10px;
  text-align: center;

  .pagination {
    margin: 0;
  }
}
.page-content {
  img, figure {
    max-width: 100%;
  }
}

.main-menu-wrapper {
  .categories-menu {
    ul {
      list-style: none;
      padding: 0 15px;
      background: #fff;

      li {
        a {
          min-height: 35px;
          display: block;
          word-wrap: break-word;
          border-bottom: 1px solid #e7e7e7;
          font-size: 21px;
          text-decoration: none;

          &:hover {
            background: #f0f0f0;
          }
        }
      }
    }
  }

  .main-menu-button {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background: transparent none;
    color: #454545;

    &:hover {
      color: #337ab7;
    }
  }

  .categories-menu-button {
    border: 1px solid #ddd;
  }

  .rss-feed {
    width: 36px;
    height: 36px;
    line-height: 20px;
    font-size: 24px;

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.breadcrumb {
  display: inline-block;
  background: none;
  margin-bottom: 0;
  padding: 10px 0 5px 5px;
}

.sidebar {
  .widget-title {
    margin: 20px 0 0 0;
    font-size: 21px;
  }

  .sidebar-block {
    ul {
      padding-left: 15px;
    }

    &.categories {
      li:before {
        margin-right: 5px;
      }
    }

    &.tags {
      font-size: 18px;
      margin-bottom: 20px;

      a {
        margin-right: 10px;
      }
    }

    &.archive {
      > ul {
        list-style: none;

        ul {
          padding-left: 35px;
        }
      }
    }
  }
}

.months-expander {
  cursor: pointer;

  &:hover {
    color: #6ca4ab;
  }
}

.post-preview-wrapper {
  margin: 15px 0;

  &.bordered {
    border-bottom: 1px solid #c8c8c8;
  }

  h2 {
    margin: 0 0 5px 0;
  }
}

.post-info {
  color: #9c9c9c;

  i:before {
    margin-right: 1px;
  }

  span {
    margin-right: 2px;
    white-space: nowrap;
  }

  .post-stats, .post-tags {
    margin-top: 5px;
  }

  .post-stats {
    span:not(:last-child):after {
      content: '|';
      margin-left: 4px;
    }
  }

  .post-tags {
    a {
      margin-left: 2px;
    }

    span:not(:last-child):after {
      content: ',';
    }
  }
}

.social-and-shares-wrapper {
  margin-top: 15px;

  .social-wrapper {
    div {
      vertical-align: top;
    }
  }

  .likes-wrapper {
    font-size: 17px;

    i {
      &:not(.disabled){
        cursor: pointer;
      }
    }

    span {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    .like {
      color: #27872b;

      i:not(.disabled):hover {
        color: #32c336;
      }
    }

    .dislike {
      color: #8f231d;

      i:not(.disabled):hover {
        color: #c32620;
      }
    }
  }
}

.post-preview-wrapper {
  p:last-child {
    margin-bottom: 0;
  }
}

.footer {
  text-align: center;
  border-top: 1px solid #c8c8c8;
  margin-top: 14px;
  font-size: 12px;

  p {
    margin: 0 0 3px;
  }
}

// Socials
.b-share_theme_counter, .vk-like {
  display: inline-block;
}

.b-share_theme_counter {
  height: 22px;
}

.vk-like iframe {
  margin-bottom: 1px;
}

.b-share_theme_counter .b-share {
  // Need important, because plugin inlines styles
  vertical-align: baseline !important;
  padding: 0 !important;
}

.vk-comments {
  margin-top: 20px;
}

// Mobile
@media (max-width: 768px){
  .container {
    padding: 0;
  }

  .breadcrumb {
    padding: 10px;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2,
  .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
  .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11,
  .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
  .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1,
  .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
  .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
  .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12,
  .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
  .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .padded-content {
    &.main-menu-wrapper {
      padding: 0;
    }
  }

  .main-menu-wrapper {
    .navbar-nav {
      li {
        a {
          padding: 10px 3px;
        }
      }
    }
  }
}

.stat-value {
  font-style: italic;
  font-weight: 600;
  color: #626262;
}

@media (max-width: 425px) {
  .main-menu-wrapper .navbar-default .navbar-nav {
    display: none;
  }
}

@media (max-width: 525px) {
  .likes-wrapper {
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 430px) {
  .vk-like {
    margin-top: 10px;
  }

  .likes-wrapper {
    margin-top: 5px;
  }
}

.comments-wrapper {
  margin-top: 10px;
}

