<div class="navbar-wrapper">
    <nav class="main-menu navbar navbar-expand-lg navbar-light bg-light p-2">
        <b>{{ harentius_blog_title }}</b>

        <ul class="navbar-nav">
            {% for item in get_main_menu_items() %}
                <li class="navbar-list-item">
                    <a href="{{ item.url }}">{{ item.text }}</a>
                </li>
            {% endfor %}
        </ul>

        <div class="main-menu-icons navbar-nav">
            <button
                type="button"
                class="main-menu-button fa fa-bars categories-menu-button d-lg-none"
            ></button>
        </div>
    </nav>

    <div class="categories-menu d-none">
        {{ render(controller('Harentius\\BlogBundle\\Controller\\SidebarController::categories', { showNumber: false })) }}
    </div>
</div>
