<nav class="main-menu navbar navbar-expand-lg navbar-light bg-light p-2">
    {% block brand %}{% endblock %}

    {{ knp_menu_render('main') }}

    <div class="main-menu-icons navbar-nav">
        <a href="{{ path('harentius_blog_feed') }}" class="nav-link main-menu-button main-menu-button-rss-feed"><i class="fa fa-feed"></i></a>

        <button
            type="button"
            class="main-menu-button fa fa-bars d-none-lg categories-menu-button"
            data-toggle="collapse" data-target="#categories-menu"
        ></button>

        <div class="collapse out categories-menu" id="categories-menu">
            {{ render_cached(controller('HarentiusBlogBundle:Sidebar:categories', { showNumber: false })) }}
        </div>
    </div>
</nav>
