<div class="navbar-wrapper">
    <nav class="main-menu navbar navbar-expand-lg navbar-light bg-light p-2">
        {% block brand %}{% endblock %}

        {{ knp_menu_render('main') }}

        <div class="main-menu-icons navbar-nav">
            <a href="{{ path('harentius_blog_feed') }}" class="nav-link main-menu-button main-menu-button-rss-feed" target="_blank">
                <i class="fa fa-feed"></i>
            </a>

            <button
                type="button"
                class="main-menu-button fa fa-bars categories-menu-button d-lg-none"
            ></button>
        </div>
    </nav>

    <div class="categories-menu d-none">
        {{ render_cached(controller('Harentius\\BlogBundle\\Controller\\SidebarController::categories', { showNumber: false })) }}
    </div>
</div>
