@media (min-width: 1200px) {
  .text-lg-right {
    text-align: right;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .text-md-right {
    text-align: right;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .text-sm-right {
    text-align: right;
  }
}

@media (max-width: 767px) {
  .text-xs-right {
    text-align: right;
  }
}
