{% for article in articles %}
<div class="padded-content post-preview-wrapper{% if not loop.last or hasToPaginate %} bordered{% endif %}">
    <article class="clearfix">
        <h2><a href="{{ path('harentius_blog_show', {'slug': article.slug}) }}">{{ article.title }}</a></h2>
        <div>{{ article.text|read_more }}</div>
    </article>
    {% include 'HarentiusBlogBundle:Blog:_post_info.html.twig' %}
</div>
{% endfor %}
