<div class="sidebar-block archive">
    <ul>
    {% for year, months in archivesList %}
        <li class="year-content-wrapper">
            <i class="fa fa-chevron-down months-expander"></i>
            <a href="{{ path('harentius_blog_archive_year', {'year': year}) }}">{{ year }}</a>
            <ul class="months-list d-none">
        {% for month, monthName in months %}
                <li>
                    <a href="{{ path('harentius_blog_archive_month', {'year': year, 'month': month }) }}">
                        {{ monthName|localizeddate('none', 'none', app.request.locale, null, 'LLLL')|capitalize }}
                    </a>
                </li>
        {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</div>
